#dashboard-employee-header-wrapper {
    display: none;
}

#dashboard-client-header-wrapper {
    /*display: none;*/
}

#dashboard-employee-header-wrapper, #dashboard-client-header-wrapper, #dashboard-employee-header-right-column {
    display: flex;
    flex-flow: row nowrap;
}

#dashboard-employee-header-wrapper, #dashboard-client-header-wrapper {
    justify-content: space-between;
}

#dashboard-employee-header-right-column {
    gap: 1rem;
}

#dashboard-employee-header-wrapper > a > img, #dashboard-employee-header-right-column > a > img, #dashboard-client-header-wrapper > a > img {
    height: 2rem;
    width: 2rem;
    /*dfjak*/
}
